[user]
  name = Rustam Gasanov
  email = ragasanov@gmail.com
[github]
  user = rustamgasanov
[alias]
  l   = log --pretty='format:%C(yellow)%h%C(reset) %C(blue)%ad%C(reset) %s%C(red)%d%C(reset) %C(green)%an%C(reset), %C(cyan)%ar%C(reset)' --date=short --graph
  dcs = diff --staged --color
  dc  = diff --color
  a   = add
  s   = status
  m   = merge
  co  = checkout
  cam = commit -am
  cm  = commit -m
  po  = push origin
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/rustam/.gitignore_global
[color]
  ui = true
